@model IEnumerable<NordicDoorWeb.Models.Godkjenning>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ansatt_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gkjent_ikke_gkjent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_godkjenning)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ansatt_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gkjent_ikke_gkjent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_godkjenning)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.godkjenning_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.godkjenning_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.godkjenning_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
